* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 140px;
    padding: 10px;
    background-color: #C4C4C4;
}

.block_relative {
    background-color: #E6E6E6;
    overflow: auto;
    margin: 40px;
}

.block {
    background-color: #FC8F8F;
    height: 150px;
    width: 150px;

    font-size: 100px;
    text-align: center;
    float: left;
}

.block_1 {
    margin-right: 10px;
}

.block_2 {
    float: right;
}

.block_3 {
    margin-left: 10px;
    font-size: 50px;
    height: 75px;
    width: 75px;
}

.block_4 {
    margin-left: 10px;
}

.second {
    margin-left: 443px;
}

.third {
    margin-left: 303px;
}